<!-- Category edition -->

<%- include ../../partials/header.ejs%>     <!-- up to levels to find Bootstrap on /views-->
<%- include ../../partials/navbar.ejs%>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Category edition</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/categories/update">
                <input class="form-control" type="text" name="title" placeholder="Define category title" value="<%= category.title %>"><br>
                <input type="hidden" name="id" value="<%= category.id %>">
                <button class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</div>

<%- include ../../partials/footer.ejs%>

